/* tag di base */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag del body */

body{
    background-color: #000;
}

/* tag del main */

main{
    height: 93vh;
    position: relative;
    display: flex;
}

/* tag bottoni audio e fullscreen */

.btn_main{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#speak{
    float: left;
    margin-right: 10px;
}

#speak span i{
    padding-right: 10px;
}

#screen{
    float: right;
}

#speak, #screen{
    cursor: pointer;
    background-color:#3b3b3b;
    padding: 5px;
    border-radius: 5px;
}

/* tag schermata video */

#center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#left_arrow, #right_arrow, #foto{
    border: 1px solid white;
    height: 20px;
    width: 500px ;
}

/* tag del footer */

footer{
    height: 66px;
    background-color: #212325;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn_left, #btn_center, #btn_right{
    border: 1px solid white;
    height: 100%;
    width: 500px ;
    display: flex;
}

#btn_right{
    background-color: #464749;
}

#btn_center{
    display: flex;
    flex-wrap: wrap;
}

#mute, #stop{
    background-color: #fff;
    width: auto;
    height: 100%;
    margin-left: 10px;

}