/* tag di base */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag del body */

body{
    background-color: #000;
}

/* tag del main */

main{
    height: 93vh;
    position: relative;
    display: flex;
}

/* tag bottoni audio e fullscreen */

.btn_main{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 200px;
    margin-bottom: 50px;
}

#speak{
    height: 100%;
    width: 150px;
    background-color: #fff;
    float: left;
}

#screen{
    height: 100%;
    width: 40px;
    background-color: #fff;
    float: right;
}

/* tag schermata video */

#center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#left_arrow, #right_arrow, #foto{
    border: 1px solid white;
    height: 20px;
    width: 500px ;
}

/* tag del footer */

footer{
    height: 66px;
    background-color: #212325;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn_left, #btn_center, #btn_right{
    border: 1px solid white;
    height: 20px;
    width: 500px ;
}
